<ion-header>
  <ion-toolbar>
    <ion-title>PELD-ELPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="assets/icon/creditos.png">

  <div class="ion-text-center">
    O principal objetivo do PELD-ELPA é subsidiar políticas públicas que melhorem a qualidade ambiental e socioeconômica
    da região, a partir da compreensão das mudanças que acontecem no ambiente do estuário e da praia do Cassino, no
    curto, médio e longo prazo, relacionando com os fenômenos do clima e com a ação humana.
    <br><br>Versão 0.0.1
  </div>

  <ion-card *ngFor="let video of videos">
    <ion-item>
      <ion-label>{{ video.items[0].snippet.title }}</ion-label>
    </ion-item>

    <div (click)="watch(video.items[0].id)" class="thumbnail-wrapper">
      <img [src]="video.items[0].snippet.thumbnails.standard.url" />
      <ion-icon name="play-circle" color="light" style="zoom:4.0;"></ion-icon>
    </div>

    <ion-card-content>
      {{ video.items[0].snippet.publishedAt | date:'short' }}
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/peld']" routerDirection="forward" expand="block" fill="outline">Sobre o PELD
    </ion-button>
    <ion-button [routerLink]="['/byte']" routerDirection="forward" expand="block" fill="outline">Desenvolvedores
    </ion-button>
  </ion-toolbar>
</ion-footer>