<ion-header>
  <ion-toolbar>
    <ion-title>PELD-ELPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let image of imagesPage">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ image.place }}</ion-label>
      <ion-button *ngIf="image.vrUrl" (click)="vrView(image.vrUrl)" fill="outline" slot="end">360°</ion-button>
    </ion-item>

    <div (click)="photoView(image.imageUrl, image.place)" class="thumbnail-wrapper">
      <ion-img src="{{ image.imageUrl }}"></ion-img>
      <ion-icon name="expand" color="light" style="zoom:2.0;"></ion-icon>
    </div>

    <ion-card-content>
      {{ image.id }}{{ image.description }}
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button routerLink="/update" expand="block">
      Adicionar imagem
    </ion-button>
  </ion-toolbar>
</ion-footer>