<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>BYTE JR.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="grad1">
    <ion-card-header>
      <div id="div-imagem">
        <img src="assets/icon/byte.png" id="imagem">
      </div>
    </ion-card-header>
    <ion-card-content>
      <div id="texto">
        Somos uma empresa júnior de tecnologia da informação formada por alunos de Universidade Federal do Rio
        Grande.<br>
        Fazemos aplicativos com toda a nossa dedicação, amor e carinho.</div>
      <br>
      <div class="textomenor">
        Para mais informações entre em contato com a gente</div>
      <ion-button href="https://www.instagram.com/bytejr/" class="instagram" color="light">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button href="https://www.facebook.com/bytejr/" color="light">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>