<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PELD-ELPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="grad1">
    <ion-card-header>
      <div id="div-imagem">
        <img src="assets/icon/peld.png" id="imagem">
      </div>
    </ion-card-header>
    <ion-card-content>
      <div id="texto">
        Um grupo composto por diversos pesquisadores do Instituto de Oceanografia da Universidade Federal do Rio Grande
        (IO/FURG), que desenvolve o Programa de Pesquisas Ecológicas de Longa Duração (PELD) desde 1998, sua 1ª edição
        no Brasi. O programa é financiado pelo CNPq, e nossas pesquisas são realizadas no Sítio 8, o Estuário da Lagoa
        dos Patos e Costa Marinha Adjacente (ELPA), por isso somos denominados como PELD-ELPA. Desde que começou, os
        dados obtidos no âmbito do PELD-ELPA complementam uma série de dados que vem sendo obtida desde a década de 70,
        integrando 40 anos de pesquisas no estuário.</div>
      <br>
      <div class="textomenor">
        Para mais informações entre em contato com a gente
      </div>

      <div class="icone">
      <ion-button href="https://instagram.com/peld.elpa" color="light">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button href="https://www.facebook.com/PELD-ELPA-1366344426805150/" color="light">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button href="https://peld.furg.br/" color="light">
        <ion-icon slot="icon-only" name="desktop"></ion-icon>
      </ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>