.grad1{
    background-image: linear-gradient( rgb(255, 255, 255), rgba(109, 231, 79, 0.363));
}

.icone{
   width: 80%;
   margin: 2% 15%;
   
 }

#imagem{
    height:300px;
}
#texto{
   color: black;
   margin: 2%;
   text-align: center;
}
.textomenor{
   color: black;
     margin: 2%;
   text-align: center;
}

#icone{
   margin: 14%;
   margin-bottom: 50%;
   width: 5px;
   height: 5px;
}

#div-imagem{
   height: 80%;
}